<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fisher.finaldiary">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:name="org.litepal.LitePalApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <!-- 前台通知快捷写日记服务 -->
        <service
                android:name=".Service.NotificationService"
                android:enabled="true"
                android:exported="true">
        </service>

        <!-- 静态广播接收，监听系统开机 -->
        <receiver
                android:name=".Broadcast.StaticBroadcast"
                android:enabled="true"
                android:exported="true">
        </receiver>

        <activity
                android:name=".Activity.WriteActivity"
                android:label="@string/title_activity_write">
        </activity>

        <activity
                android:name=".Activity.SettingsActivity"
                android:label="@string/title_activity_settings">
        </activity>

        <activity
                android:name=".Activity.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>